
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Page de connection')}"></head>
<meta name="description" content="Entreprise BTP à prix imbattable">
<meta name="keywords" content="entreprise,en ligne, BTP,prix imbattable,Madagascar">
<body>
<main>
    <div class="container">
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reinitialiser base </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>

                    <div class="modal-footer">
                        <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Affichage message-->
        <div th:replace="~{fragments/message :: MessageAlert}"></div>
        <!-- Fin Affichage message-->
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="" class="logo d-flex align-items-center w-auto">
                                <img src="/img/logo.png" alt="" style="max-height: 300px;margin-bottom: -100px">
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                </div>
                                <form id="formValidation" class="row g-3"  method="post" th:action="@{/login}" th:object="${utilisateur}"  data-parsley-validate="">
                                    <div class="col-12">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" th:field="*{email}" value="admin@gmail.com" class="form-control" id="email" data-parsley-trigger="change" required="">
                                    </div>
                                    <div class="col-12">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" th:field="*{password}"  class="form-control" id="password" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <input class="btn btn-primary w-100" type="submit" value="Login">
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Don't have account? <a th:href="@{'/insc'}">Create an account</a></p>
                                    </div>
                                    <hr>
                                    <div class="col-12 align-content-center">
                                        <p class="small mb-0"><a th:href="@{'/loginClient'}">Login client</a></p>
                                    </div>
                                    <div class="col-12 align-content-center">
                                        <p class="small mb-0"><a class="btn-reinitialiser" th:href="@{'/reinitialiserBase'}">Reinitialiser base</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
</body>
<div th:replace="~{fragments/script :: script}"></div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".btn-reinitialiser").on("click", function(e) {
            e.preventDefault();
            var link = $(this);
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete ?");
            $("#confirmModal").modal("show"); // Show the modal
        });

        // Handle click event for the close button within the modal
        $("#confirmModal .close, #confirmModal .btn-secondary").on("click", function() {
            $("#confirmModal").modal("hide"); // Hide the modal
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#formValidation').parsley();
    });

</script>
</html>
