
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='construction')}"></head>
<body>
<header th:replace="~{fragments/header :: header(title='Construction')}"></header>
<aside th:replace="~{fragments/aside :: aside}"></aside>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>construction</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <!-- Affichage message-->
    <div th:replace="~{fragments/message :: MessageAlert}"></div>
    <!-- Fin Affichage message-->
    <div class="row">
      <div class="col-md-12">
        <div class="card justify-content-center text-center">
          <div class="card-body">
            <h5 class="card-title" th:if="${total!=null}">TOTAL DEVIS :<span   class="btn btn-outline-primary" th:text="${#numbers.formatCurrency(total)}"></span> Ariary</h5>
            <h5 class="card-title" th:if="${total==null}">TOTAL DEVIS :<span   class="btn btn-outline-primary" >0.0</span> Ariary</h5>
            <h5 class="card-title" th:if="${dejaPaye!=null}" >MONTANT DEJA PAYE :<span  class="btn btn-outline-primary" th:text="${#numbers.formatCurrency(dejaPaye)}"></span> Ariary</h5>
            <h5 class="card-title" th:if="${dejaPaye==null}">MONTANT DEJA PAYE :<span  class="btn btn-outline-primary" >0.0</span> Ariary</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <form id="formValidation" th:action="@{'/v1/dashboard'}" method="get">
                <div class="col-md-3 input-group mt-2">
                  <div class="form-control">
                    <input  class="form-control-sm"  data-parsley-pattern="^(0|[1-9][0-9]*)$" th:value="${annee}" type="text" name="anne" data-parsley-trigger="change">
                    <input  class="btn btn-outline-primary" type="submit" value="Search">
                  </div>
                </div>
                <!-- Filtrage de nombre de donnée-->
              </form>
            </div>
            <div class="card-body">
              <h4>Repartition des montants de vente</h4>
              <div style="width: 50%;">
                <canvas id="camembertChart"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/script :: script}"></div>
<!--delete modal -->
<div th:replace="~{fragments/DeleteConfirmation :: Delete}"></div>
<!-- fin delete modal -->
<script th:inline="javascript">
  /*<![CDATA[*/

  // Récupérer les variables passées depuis le contrôleur
  var valeurs = /*[[${allMontant}]]*/ [];
  var labels = /*[[${allMois}]]*/ [];

  console.log(valeurs)
  console.log(labels)
  // Convertir les valeurs en chaînes JSON

  // Données du graphique en camembert
  var data = {
    labels: labels,
    datasets: [{
      label:"Mois",
      data: valeurs,
      backgroundColor: ['#4BC0C0']
    }]
  };

  // Options du graphique en camembert
  var options = {
    responsive: true,
    title: {
      display: true,
      text: 'Graphique en bar'
    },
    scales: {
      y: {
        beginAtZero: true
      }
    }
  };

  // Récupérer le canevas HTML
  var ctx = document.getElementById('camembertChart').getContext('2d');

  // Créer le graphique en camembert
  var camembertChart = new Chart(ctx, {
    type: 'bar',
    data:data,
    options: options
  });
  /*]]>*/
</script>
<script>
  $(document).ready(function() {
    $('#formValidation').parsley();
  });

</script>

</html>
