<aside  th:fragment="aside" id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/v1/dashboard'}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item" th:if="${session.user.getProfil().name()==T(com.eval1.mg.Model.Profil).CLIENT.name()}">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-check"></i><span>Devis Client</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{'/v1/construction/user'}">
                        <i class="bi bi-circle"></i><span>Liste de mes devis</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/v1/construction/user/addDevis'}">
                        <i class="bi bi-circle"></i><span>Ajouter devis</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" th:if="${session.user.getProfil().name()==T(com.eval1.mg.Model.Profil).ADMIN.name()}">
            <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-check"></i><span>BTP</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{'/v1/construction/admin'}">
                        <i class="bi bi-circle"></i><span>Liste des devis</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/v1/typeMaison'}">
                        <i class="bi bi-circle"></i><span>Type maison</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/v1/typeFinition'}">
                        <i class="bi bi-circle"></i><span>Type Finition</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/v1/importCsv'}">
                        <i class="bi bi-circle"></i><span>Import de donnée</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/v1/travaux'}">
                        <i class="bi bi-circle"></i><span>Travaux</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</aside>